<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JinMaoProduct.ipa</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://jminves.iboler.com/IOS/JinMaoProduct.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.fnst.smartwork</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>JinMaoProduct.ipa</string>
			</dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C45605DC1E6318599DDC0DD2F7E65BA3C07CB149</string>
				<key>dateExpires</key>
				<string>2020/10/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>46ST47TZ4Y.com.jinmao.JinMaoProduc</string>
				<key>com.apple.developer.team-identifier</key>
				<string>46ST47TZ4Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>46ST47TZ4Y.com.jinmao.JinMaoProduc</string>
				</array>
			</dict>
			<key>name</key>
			<string>JinMaoProduct.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b44f5213-e76c-4dee-b310-f1ba005bb91f</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.jinmao.JinMaoProduc</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>46ST47TZ4Y</string>
				<key>name</key>
				<string>Beijing Kaichen Property Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
